body{
  background-color: #8A4FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0px;
  font-family: 'Work Sans', sans-serif;
}
.computer-screen{
  margin: 4rem;
  margin-bottom: 4.2rem;
  border: 3px solid #000300;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem;
}





/* ---------Header-------------- */
header{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  border-bottom: 3px solid black;
}
.header-title{
  background-color: whitesmoke;
  padding: 0.5rem;
  padding-left: 1rem;
  margin: 0.5rem;
  width: 80vw;
  border-radius: 3rem;
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
}
.header-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 8rem;
  margin-left: 1rem
}
.header-buttons-close{
  height: 1.7rem;
  width: 1.7rem;
  background-color: #FC5130;
  border-radius: 50%;
}
.header-buttons-minimize{
  height: 1.7rem;
  width: 1.7rem;
  background-color: #FBAF00;
  border-radius: 50%;
}
.header-buttons-maximize-refresh{
  height: 1.1rem;
  width: fit-content;
  padding: 0.3rem;
  background-color: #2BC016;
  border-radius: 1rem;
}
/* ------------------------------ */





main{
  display: flex;
  justify-content: space-between;
  min-height: 80vh;
}
footer{
  background-color: whitesmoke;
  padding: 1rem;
  align-self: flex-end;
  width: -webkit-fill-available;
}





/* ----------Players------------- */
.player-stats{
  background-color: #FC5130;
  /* padding: 1rem; */
  width: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.player-stats h3{
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  font-size: larger;
}

.player-stats-points{
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  height: 15.9vh;
  border-top: 3px solid black;
}

.left-player{
  border-bottom-left-radius: 0.8rem;
  border-right: 3px solid #000300;
}

.right-player{
  border-bottom-right-radius: 0.8rem;
  border-left: 3px solid #000300;
}
/* ------------------------------ */





.game-stage{
  background-color: #FF8CC6;
  /* width: 49rem; */
  /* width: -webkit-fill-available; */
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game-buttons-block{
  width: 50vw;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-button{
  border: none;
  height: 5rem;
  width: 8rem;
  margin: 0.5rem;

  background-color: #FFFFFF;
  border: 3px solid black;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem;

  cursor: pointer;

  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  font-size: larger;
}

.game-button:hover{
  background-color: #2BC016;
}

.game-button:active{
  background-color: #2BC016;
  box-shadow: 0.1rem 0.1rem;
  transform: translateY(4px);
}

.game-round-winner{
  margin-top: 1rem;
  border: none;
  height: 40vh;
  width: 40vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../docs/yellow_starburst.svg");
  background-repeat: no-repeat;
  background-size: 40vh 40vh;

  /* font-size: 1rem; */
  font-size: 4vh;
}
.game-round-winner span{
  background-color: #FF8CC6;

  min-width: 15rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.game-round-status{
  height: 15vh;

  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.movesleft{
  margin: 1rem;
}




/* --------Marquee------------ */
.scroll-container{
  /* width: -webkit-fill-available; */
  /* width: 78vw; */
  width: 70vw;
  /* height: 1.5rem; */
  height: 5vh;
  display: flex;
  align-items: center;
  background-color: #2BC016;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.scroll-text{
  /* text-transform: uppercase; */

  height: 25px;
  width: -webkit-fill-available;

  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.scroll-text div{
  width: max-content;
  overflow: hidden;
  animation: scroll-text 30s linear infinite;

  font-style: italic;
  padding-right: 1rem;
}

.scroll-text div:hover{
  animation-play-state: paused;
}

.scroll-text span{
  width: fit-content;
}

@keyframes scroll-text{

  from {
    -moz-transform: translateX(120%);
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}