body{
  background-color: navy;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
header{
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}
main{
  display: flex;
  justify-content: space-between;
  min-height: 89vh;
}
footer{
  background-color: whitesmoke;
  padding: 1rem;
  align-self: flex-end;
  width: -webkit-fill-available;
}

.player-stats {
  background-color: gainsboro;
  padding: 1rem;
}

.game-stage{
  background-color: white;
  padding: 1rem;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game-buttons-block{
  border: 1px solid darkgrey;
  width: 50vw;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-button{
  background-color: lightsteelblue;
  border: none;
  height: 5rem;
  width: 8rem;
}

.game-round-winner{
  background-color: lightsteelblue;
}

.game-round-status{
  background-color: lightsteelblue;
}