body{
  background-color: #8A4FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  /* padding: 2rem; */
  margin: 0px;
}
.computer-screen{
  margin: 2rem;
  margin-bottom: 4.2rem;
  border: 3px solid #000300;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem;
}





/* ---------Header-------------- */
header{
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  border-bottom: 3px solid black;
}
.header-title{
  background-color: whitesmoke;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 35rem;
  border-radius: 3rem;
  font-size: x-large;
}
.header-buttons{
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.2rem;
  margin-left: 3rem;
  min-width: 8rem;
}
.header-buttons-close{
  height: 1.5rem;
  width: 1.5rem;
  background-color: #FC5130;
  border-radius: 50%;
}
.header-buttons-minimize{
  height: 1.5rem;
  width: 1.5rem;
  background-color: #FBAF00;
  border-radius: 50%;
}
.header-buttons-maximize-refresh{
  height: 1.1rem;
  width: fit-content;
  padding: 0.2rem;
  background-color: #2BC016;
  border-radius: 1rem;
}
/* ------------------------------ */





main{
  display: flex;
  justify-content: space-between;
  min-height: 80vh;
}
footer{
  background-color: whitesmoke;
  padding: 1rem;
  align-self: flex-end;
  width: -webkit-fill-available;
}





/* ----------Players------------- */
.player-stats {
  background-color: #FC5130;
  padding: 1rem;
  width: 10rem;
}

.left-player{
  border-bottom-left-radius: 0.8rem;
  border-right: 3px solid #000300;
}

.right-player{
  border-bottom-right-radius: 0.8rem;
  border-left: 3px solid #000300;
}
/* ------------------------------ */





.game-stage{
  background-color: #FF8CC6;
  padding: 1rem;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game-buttons-block{
  width: 50vw;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-button{
  border: none;
  height: 5rem;
  width: 8rem;

  background-color: #FFFFFF;
  border: 3px solid black;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem;

  cursor: pointer;
}

.game-button:hover{
  background-color: #2BC016;
}

.game-button:active{
  background-color: #2BC016;
  box-shadow: 0.1rem 0.1rem;
  transform: translateY(4px);
}

.game-round-winner{
  border: none;
  height: 10rem;
  width: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../docs/yellow_starburst.svg");
  background-repeat: no-repeat;
  background-size: 150px 150px;
}

.game-round-status{
  height: 5rem;
  width: 15rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* .scroll-container{

}
.scroll-text{
  
} */